body {
    background-color: black;
    /* Fallback color */
    color: white;
    font-family: Clash Display Variable;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

/* Blob styles */
.blob-outer-container {
    position: fixed;
    height: 70%;
    width: 70%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Smooth transition for opacity and scale */
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    top: 0;
    left: 40%;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: #fff;
    transform: scale(0.8);
    opacity: 0.7;
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #08f, #f60, #bbffa1, #4c00ff, #ab2666, #09f);
    animation: spinBlob 8s linear infinite;

}

/* Keyframe animation for spinning blob */
@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}

/* Class to remove the background gradient */
.no-gradient {
    background-color: black;
    /* Reverts the background color to black when scrolling */
}


button {
    border-radius: 5px;
    color: #78A17C;
}

.resume-btn {
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 10px #78A17C;
}

.resume-btn:hover {
    box-shadow: 0 0 20px #78A17C, 0 0 30px #78A17C;
    transform: translateY(-2px);
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 100;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Navbar list */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

/* Navigation link styles */
#nav-a {
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.3s, border 0.3s;
    /* Add transition for border */
    text-decoration: none;
}

/* Hover effect with white border */
#nav-a:hover {
    border: 1px solid white;
    /* White border on hover */
}

/* Optionally, you can add active state styling too */
#nav-a:active {
    background-color: white;
    /* For example, change background when clicked */
    color: black;
    /* Optional, change text color on active */
}



.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo p {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 100;
}


#designation-container {
    position: relative;
    height: 40px;
    /* Adjust the height to match your content */
    overflow: hidden;
}

.designation {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: rotate 7.5s infinite;
}

.designation:nth-child(1) {
    animation-delay: 0s;
}

.designation:nth-child(2) {
    animation-delay: 2.5s;
}

.designation:nth-child(3) {
    animation-delay: 5s;
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    40% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}



.intro {
    text-align: left;
    padding-left: 50px;
    padding-top: 450px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    object-position: center 10%;

}

.homeh2 {
    font-family: Clash Display Variable;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 100;
    display: block;
    white-space: normal;
    padding-top: 50px;
    padding-bottom: 20px;

}

.highlight {
    color: #78A17C;
    font-size: 2rem;
    font-weight: 580;
    white-space: nowrap;
    display: inline;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 0.9rem;
    margin-top: 40px;
    padding-bottom: 50px;
}

.homefooter-right a {
    color: #78A17C;
}


/*work*/
.section {
    padding: 60px;
    text-align: center;
    min-height: 100vh;
}

.section h3 {
    text-align: left;
    width: 100%;
    padding-top: 50px;
    font-family: Clash Display Variable;
    color: #78A17C;
    font-weight: 500;
}

/* Work Container */
.work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    grid-gap: 60px;
    /* Spacing between boxes */
}

/* Work Box */
.work-box {
    background-color: white;
    color: black;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Keep the title centered */
    height: 270px;
    /* Adjust height for spacing */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Keep content centered */
    overflow: hidden;
    padding-left: 10px;
    /* Leave space on the left */
}

/* Work Title */
.work-title {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    /* Space between title and image */
}

/* Image Styling */
.work-box img {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 70%;
    /* Resize image */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Ensure the image fits nicely */

}

/* Style for the link in the work title */
.project-link {
    text-decoration: underline;
    /* Underline the text */
    color: black;
}


/* Specific Work Box (CareFinder project) */
.carefinder-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

/* Work Title */
.carefinder-project .work-title {
    text-align: center;
    /* Center the title */
    font-size: 1rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    /* Space between title and images */
}

/* Image Container (side by side) */
.carefinder-project .image-container {
    justify-content: flex-start;
    width: 100%;
    /* Ensure container takes full width */
    flex-wrap: wrap;
    /* Allow wrapping if needed */
}

/* Style for the images */
.carefinder-project img {
    width: 22%;
    /* Resize images to be smaller and fit inside the box */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Ensure the image fits nicely */
}


/* Border for a specific image */
.bordered-img {
    border: 1px solid black;
}

.project-breakdown-btn {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #78A17C;
    color: #78A17C;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10px;
}

.project-breakdown-btn:hover {
    background-color: #78A17C;
    color: white;
}


.project-description {
    color: grey;
    font-family: Satoshi Variable;
    line-height: 1.8;
    /* Adjust this value for more or less spacing */
    text-align: left;
}

.project-description-capstone {
    color: grey;
    font-family: Satoshi Variable;
    line-height: 1.5;
    /* Adjust this value for more or less spacing */
    text-align: left;
}


/* Styles for the modal */
.popup-modal {
    display: none;
    /* Ensure modals are hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Background color with opacity */
    overflow: auto;
    /* Allows scrolling if the content is larger than the viewport */
}

.popup-content {
    background-color: black;
    margin: 15% auto;
    padding-left: 30px;
    padding-bottom: 30px;
    border: 1px solid #888;
    width: 100%;
    /* Can be adjusted */
    max-width: 600px;
    position: relative;
    /* Needed for positioning the close button */
}

h2 {
    font-weight: 300;
    font-family: Satoshi Variable;
    padding-top: 50px;
}

.highlight-text {
    color: #78A17C;
}

.bold-text {
    color: white;
}

/* Close Button */
.close-btn-work {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-btn-work:hover,
.close-btn-work:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Button Container */
.button-container {
    text-align: center;
    margin-top: 40px;
}

/* Show More Button */
.show-more-btn {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid white;
    color: #78A17C;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.show-more-btn:hover {
    background: #78A17C;
    color: white;
    border: none;
}

/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with transparency */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.modal p {
    font-size: 1.2rem;
    font-weight: 500;
}

.close-modal-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #78A17C;
    color: #78A17C;
    text-decoration: none;
    border-radius: 5px;
}

.close-modal-btn:hover {
    background-color: #78A17C;
    color: white;
}


/* For responsiveness: Stacks boxes in a single column on small screens */
@media (max-width: 768px) {
    .work-container {
        grid-template-columns: 1fr;
        /* Single column on smaller screens */
    }
}

/* About Section */
#about {
    background-color: #f2f2f2;
    font-family: Satoshi Variable;
}

.about-title {
    color: black;
    font-size: 15px;
    padding-top: 20px;
}

.line {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 10px 0;
}

.about-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    /* 控制标题和内容的间距 */
}

.about-title {
    flex: 0 0 150px;
    /* 固定宽度，确保对齐 */
    text-align: left;
    color: black;
}

.email {
    font-size: 0.9em;
}

.about-content {
    color: black;
    font-size: 18px;
    flex: 1;
    text-align: left;
    padding-left: 500px;
}

.about-content-numbers {
    color: black;
    font-size: 18px;
    flex: 1;
    text-align: left;
    padding-left: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 两列布局，左侧是 1,2,3，右侧是 4,5,6 */
    gap: 10px 20px;
    /* 控制行间距和列间距 */
    text-align: left;
}

.social-links a {
    margin-right: 10px;
    color: #6C8C66;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Contact Section Layout */
.contact-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.left-inner {
    margin-top: auto;
    padding-bottom: 200px;
    text-align: left;
}

.subtitle {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 12px;
}

.title {
    font-size: 100px;
    font-weight: 500;
    margin: 0;
    line-height: 1.1;
    color: #fff;
}

/* Right section styling (Align form content correctly) */
.right {
    position: relative;
    font-family: Satoshi Variable;
    max-width: 800px;
    margin: auto;
    flex: 1;
    padding: 0 20px 200px;
    /* Reduced padding to avoid misalignment */
    display: flex;
    flex-direction: column;
    /* Use column layout for form elements */
    justify-content: center;
    align-items: flex-start;
    /* Align form to the start */
}

/* General form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /* Ensure form uses full width */
}

.form-row {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 25px;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
}


.form-group select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Firefox兼容 */
@-moz-document url-prefix() {
    .form-group select {
        padding-right: 24px;
        background-position: right 8px center;
    }
}

/* Inputs, selects, and textareas styling */
input[type="text"],
input[type="email"],
select,
textarea {
    font-family: Satoshi Variable;
    background: transparent;
    border: 1px solid #808080;
    color: #808080;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
}

input::placeholder,
textarea::placeholder {
    font-family: Satoshi Variable;
    color: #808080;
}

.form-group,
.checkbox-container {
    width: 100%;
    /* Ensure both divs take the full width of the parent container */
    margin-bottom: 15px;
    /* Add space between the divs */
}

textarea {
    font-family: Satoshi Variable;
    width: 100%;
    /* Ensure the textarea stretches to the width of the parent */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-right: 10px;
    /* Space between checkbox and label */
}

.contacthighlight {
    color: #78A17C;
    /* Change this to your desired color */
    font-size: 15px;
    text-decoration: underline;
}

/* Submit Button */
.styled-button {
    border: 1px solid white;
    font-family: Clash Display Variable;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    /* Adjust padding for a more compact button */
    color: #78A17C;
    background-color: transparent;
    border-radius: 5px;
    width: 120px;
    /* Set a fixed width */
    text-align: center;
    /* Ensure the text is centered */
    cursor: pointer;
    transition: all 0.3s ease;
}

.styled-button:hover {
    background-color: white;
    /* White background on hover */
    color: #78A17C;
    /* Green text on hover */
    border: 1px solid #78A17C;
    /* Green border on hover */
}

#privacy-policy-content {
    color: black;
    font-family: Satoshi Variable;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    padding: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 9999;
}

.close-button-pp {
    color: #aaa;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.close-button-pp:hover,
.close-button-pp:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Styling the new sentence container */
.no-love {
    margin-top: 550px;
    /* Add space above the sentence */
    font-size: 16px;
    /* Set the font size */
    color: #78A17C;
    /* Set the color of the text */
    text-align: left;
    /* Align the text to the left */
    display: flex;
    align-items: center;
    /* Vertically align the text */
}

/* Position the form and the sentence container */

/* Styling the new sentence container */
.no-love {
    position: absolute;
    right: 0;
    /* Align the sentence to the right side of the form */
    font-size: 16px;
    color: #78A17C;
    text-align: left;
    /* Align the text to the left */
}

.email-link {
    text-decoration: underline;
    /* Underlines the email */
    color: #78A17C;
    /* Optional: Change the email color to match your theme */
}